.Header {
  display: flex;
  align-items: center;
  background-color: #1e366a;
  margin: 0;
  padding: 15px;
  color: "white";
}

.Header img {
  margin-right: 10px; /* Add some spacing between the image and the heading */
  color: white;
  /* margin-top: 5px; */
}

.Header h2 {
  margin: 0;
  color: white; /* Remove any default margin */
}
